<div class="flex">
    <small>
        Coryright &copy; 2022 All rights reserved | This template is made with
        <span class="footer-heart">&#9829;
        </span>
        By
        <a href="isekai_impact.com" target="_blank">
            ISEKAI IMPACT
        </a>

    </small>
    <ul>
        <li>
            <a href="demodash.html">Home</a>
        </li>

        <li>
            <a href="#">Games</a>
        </li>

        <li>
            <a href="/Isekai-Impact/views/Blog/blog.html">Blog</a>
        </li>

        <li>
            <a href="/Isekai-Impact/views/about us/index.html">About Us</a>
        </li>

        <li>
            <a href="/Isekai-Impact/views/contact/contact_us.html">Contact</a>
        </li>

    </ul>

</div>
