<div class="logo">
    <a href="#"><img src="./public/images/logo.png" alt="LOGO" height="40px" width="200px"/></a>
</div>
<nav>
    <button id="nav-toggle" class="hamburger-menu">
        <span class="strip"></span>
        <span class="strip"></span>
        <span class="strip"></span>
    </button>
    <ul id="nav-menu-container">
        <li><a href="#">Home</a></li>
        <li><a href="../../views/about us/">About</a></li>
        <li><a href="../../views/dashboard/demodash.html">Games</a></li>
        <li><a href="../../views/Blog/blog.html">Blog</a></li>
        <li><a href="../../views/contact/contact_us.html">Contact</a></li>
    </ul>
</nav>
<section id="login-register-button"><a href="../../views/users/Login Form.html">Login </a>/ <a href="../../views/users/Registration.html">Register</a></section>
