<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
    <!--Fav Icon-->
    <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
    <!--CSS File-->
    <link rel="stylesheet" href="demodash.css">
    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--Swiper CSS File Link-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
</head>

<body>

    <!--Custom Scroll Bar-->
    <div class="progress">
        <div class="progress-bar" id="scroll-bar"></div>
    </div>
    <!--Header-->
    <header>
        <!--Nav-->
        <div class="nav container">
            <!--logo-->
            <a href="demodash.html" class="logo">Ieskai<span> Impact</span></a>
            <!--Nav Icons-->
            <div class="nav-icons">
                <i class='bx bx-bell bx-tada' id="bell-icon"><span></span></i>
                <i class='bx bxs-download'></i>
                <div class="menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <!--MENU-->
            <div class="menu">
                <img src="Dragon.png">
                <div class="navbar">
                    <li><a href="demodash.html">Home</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="/views/Blog/blog.html">Blog</a></li>
                    <li><a href="/views/about us/index.html">About Us</a></li>
                    <li><a href="/views/contact/contact_us.html">Contact</a></li>
                </div>
            </div>
            <!--NOTIFICATION-->
            <div class="notification">
                <div class="notification-box">
                    <i class='bx bxs-check-circle'></i>
                    <p>Congratulations!!Your game downloaded successfully</p>
                </div>
                <div class="notification-box box-color">
                    <i class='bx bxs-x-circle'></i>
                    <p>Sorry!! Please try again later</p>
                </div>
            </div>
        </div>
    </header>
    <!--Video-->
    <div class="video-container container">
        <video src="download-files/Temple Run 2.mp4"loop muted autoplay></video>
    </div>
    <!--About Games-->
    <div class="about container">
        <h2>About Game</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quos? Pariatur sapiente repellendus aperiam
            ad eos perferendis dicta ipsum laudantium. Autem molestias ducimus iusto ipsum culpa qui deserunt alias
            temporibus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quos? Pariatur sapiente
            repellendus aperiam ad eos perferendis dicta ipsum laudantium. Autem molestias ducimus iusto ipsum culpa qui
            deserunt alias temporibus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quos? Pariatur
            sapiente repellendus aperiam ad eos perferendis dicta ipsum laudantium. Autem molestias ducimus iusto ipsum
            culpa qui deserunt alias temporibus.
        </p>
    </div>
    <!--ScreenShots-->
    <div class="screenshots container">
        <h2>Pictures</h2>
        <div class="screenshots-content">
            <img src="img/ss16.2.jpg" alt="">
            <img src="img/ss16.1.png" alt="">
            <img src="img/ss16.3.jpg" alt="">
        </div>
    </div>
    <!--Download-->
    <div class="download">
        <h2>Download Links</h2>
        <div class="download-links">
            <a href="download-files/Temple Run 2.apk" download="">For Android</a>
            <a href="#">For IOS</a>
            <a href="#">For Windows</a>
        </div>
    </div>
    <!--COPYRIGHT START-->
    <footer>
        <div class="flex">
            <small>
                Coryright &copy; 2022 All rights reserved | This template is made with
                <span class="footer-heart">&#9829;
                </span>
                By
                <a href="isekai_impact.com" target="_blank">
                    ISEKAI IMPACT
                </a>

            </small>
            <ul>
                <li>
                    <a href="demodash.html">Home</a>
                </li>

                <li>
                    <a href="#">Games</a>
                </li>

                <li>
                    <a href="/views/Blog/blog.html">Blog</a>
                </li>

                <li>
                    <a href="/views/about us/index.html">About Us</a>
                </li>

                <li>
                    <a href="/views/contact/contact_us.html">Contact</a>
                </li>

            </ul>

        </div>
    </footer>
    <!--COPYRIGHT END-->
    <!--Link Swiper File-->
    <script src="js/swiper-bundle.min.js"></script>
    <!--Link to JS-->
    <script src="demodash.js"></script>
</body>

</html>