<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Dash</title>
    <!--Fav Icon-->
    <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
    <!--CSS File-->
    <link rel="stylesheet" href="../../public/stylesheets/demodash.css">
    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--Swiper CSS File Link-->
    <link rel="stylesheet" href="swiper-bundle.min.css">
</head>

<body>
    <!--Custom Scroll Bar-->
    <div class="progress">
        <div class="progress-bar" id="scroll-bar"></div>
    </div>
    <!--Header-->
    <header>
        <!--Nav-->
        <div class="nav container">
            <!--logo-->
            <a href="demodash.html" class="logo">Isekai<span> Impact</span></a>
            <!--Nav Icons-->
            <div class="nav-icons">
                <i class='bx bx-bell bx-tada' id="bell-icon"><span></span></i>
                <i class='bx bxs-download'></i>
                <div class="menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <!--MENU-->
            <div class="menu">
                <img src="../../public/images/Dragon.png" alt="">
                <div class="navbar">
                    <li><a href="demodash.html">Home</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="Blog/blog.html">Blog</a></li>
                    <li><a href="/views/about us/index.html">About Us</a></li>
                    <li><a href="/views/contact/contact_us.html">Contact-Us</a></li>
                </div>
            </div>
            <!--NOTIFICATION-->
            <div class="notification">
                <div class="notification-box">
                    <i class='bx bxs-check-circle'></i>
                    <p>Congratulations!!Your game downloaded successfully</p>
                </div>
                <div class="notification-box box-color">
                    <i class='bx bxs-x-circle'></i>
                    <p>Sorry!! Please try again later</p>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <div class="hero">
            <h1 class="hero-heading">
                <div class="glitch-wrapper">
                    <div class="glitch" data-text="Welcome Gamer">WELCOME GAMER</div>
                </div>
            </h1>
        </div>
        <div class="lights">
            <div class="light-box light light-1">
            </div>
            <div class="light-box light light-2">
            </div>
            <div class="light-box light-sides">
            </div>
            <div class="light-box light-sides small">
            </div>
        </div>
    </div>
    <div class="page">

    </div>
    </section>
    <!--Home Section End-->
    <!--Games Section Start-->
    <section class="games container" id="games">
        <div class="heading">
            <i class='bx bxs-game'></i>
            <!--OTHER OPTION FOR PAC-MAN ICON -->
            <!-- <i class='bx bx-game' ></i> -->
            <h2>Online-Games</h2>
        </div>
        <!--Content-->
        <div class="games-content swiper">
            <div class="swiper-wrapper">
                <!--Slide 1-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/2048-game/index.html">
                            <img src="https://image.winudf.com/v2/image1/Y29tLnJlZGR5YXBwcy5nYW1lMjA0OF9zY3JlZW5fMF8xNTY2OTg1MTMzXzA0Nw/screen-0.jpg?fakeurl=1&type=.jpg"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>2048</h2>
                            <h3>Puzzle</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>8.3</span>
                                </div>
                                <a href="../../views/games/2048-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 2-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/cube-one-game/index.html">
                            <img src="https://i.pinimg.com/originals/fc/98/9a/fc989a50a2ccad56320a1009df572348.jpg"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Cube One</h2>
                            <h3>Mind</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>7.8</span>
                                </div>
                                <a href="../../views/games/cube-one-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Slide 3-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/halfbrick-game/index.html">
                            <img src="https://p4.wallpaperbetter.com/wallpaper/215/317/160/ninja-gaiden-3-wallpaper-preview.jpg"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Halfbrick</h2>
                            <h3>Action</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>9.4</span>
                                </div>
                                <a href="../../views/games/halfbrick-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 4-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/hextris/index.html">
                            <img src="https://descargas.ams3.digitaloceanspaces.com/images/2397/hextetris_icon_windows.png"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Hextris</h2>
                            <h3>Puzzle</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>9.7</span>
                                </div>
                                <a href="../../views/games/hextris/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 5-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/insect-catch-game/index.html">
                            <img src="https://cdn.akamai.steamstatic.com/steam/apps/676720/ss_9d01b37df2784d10623a7bee72c4434ff8cd3577.1920x1080.jpg?t=1531520358"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Insect Catch</h2>
                            <h3>Casual</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>7.1</span>
                                </div>
                                <a href="../../views/games/insect-catch-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 6-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/Mario Game/index.html">
                            <img src="https://www.wallpaperflare.com/static/734/884/42/mario-characters-keys-piano-wallpaper.jpg"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Mario</h2>
                            <h3>Adventure</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>9.4</span>
                                </div>
                                <a href="../../views/games/Mario Game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 7-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/math-sprint-game/index.html">
                            <img src="https://image.winudf.com/v2/image1/bmV0LmNob2tvbG92a2Euc29uaWMubWF0aG1hc3RlcmtpZHNfaWNvbl8xNTY3MjE1NjY3XzA2MA/icon.png?w=&fakeurl=1"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Math Sprint</h2>
                            <h3>Mind</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>8.2</span>
                                </div>
                                <a href="../../views/games/math-sprint-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 8-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/memory-game/index.html">
                            <img src="https://images.101.com/edbox/2019/06/28/memorygame0628.jpg" alt="">
                        </a>
                        <div class="box-text">
                            <h2>Memory</h2>
                            <h3>Single Player</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>8.9</span>
                                </div>
                                <a href="../../views/games/memory-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 9-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/rabbit-run-game/index.html">
                            <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple111/v4/9d/dc/be/9ddcbe5f-25a2-1ee6-580b-34e153f2d408/source/512x512bb.jpg"
                                alt="">
                        </a>
                        <div class="box-text">
                            <h2>Rabbit Run</h2>
                            <h3>Runner</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>9.6</span>
                                </div>
                                <a href="../../views/games/rabbit-run-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 10-->
                <div class="swiper-slide">
                    <div class="box">
                        <a href="../../views/games/tower-blocks-game/index.html">
                            <img src="img/tower-blocks.jpg" alt="">
                        </a>
                        <div class="box-text">
                            <h2>Tower Blocks</h2>
                            <h3>Arcade</h3>
                            <div class="rating-download">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <span>9.7</span>
                                </div>
                                <a href="../../views/games/tower-blocks-game/index.html" class="box-btn"><i
                                        class='bx bx-play'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--Games Section End-->
    <!--New Section Start-->
    <section class="newcontainer" id="new">
        <div class="heading">
            <i class='bx bx-game'></i>
            <h2>Download Games</h2>
        </div>
        <!--Content for download-->
        <div class="new-content">
        </div>
        <div class="next-page">
            <a href="#">Next Page</a>
        </div>
    </section>
    <!--New Section Start-->
    <!--COPYRIGHT START-->
    <footer>
        <div class="flex">
            <small>
                Coryright &copy; 2022 All rights reserved | This template is made with
                <span class="footer-heart">&#9829;
                </span>
                By
                <a href="isekai_impact.com" target="_blank">
                    ISEKAI IMPACT
                </a>

            </small>
            <ul>
                <li>
                    <a href="demodash.html">Home</a>
                </li>

                <li>
                    <a href="#">Games</a>
                </li>

                <li>
                    <a href="../../views/Blog/blog.html">Blog</a>
                </li>

                <li>
                    <a href="../../views/about us/index.html">About Us</a>
                </li>

                <li>
                    <a href="../../views/contact/contact_us.html">Contact</a>
                </li>

            </ul>

        </div>
    </footer>

    <!--COPYRIGHT END-->
    <!--Link Swiper File-->
    <script src="swiper-bundle.min.js"></script>
    <!--Link to JS-->
    <script src="../../helpers/gameArray.js"></script>
    <script src="demodash.js"></script>
</body>

</html>