<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- The core Firebase JS SDK is always required and must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-firestore.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-database.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-auth.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

      <title>Login Form</title>
      <link rel="stylesheet" href="../../public/stylesheets/Login Form.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
   </head>
   <body>
      <div class="bg-img">
         <div class="content" id="main-page">
            <header>Login Form</header>
            <form action="../../views/dashboard/demodash.html">
               <div class="field">
                  <span class="fa fa-envelope"></span>
                  <input type="text" id="txtEmail_login" name="email" required placeholder="Email">
               </div>
               <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" class="pass-key" id="txtPassword_login" name="password" required placeholder="Password">
                  <span class="show">SHOW</span>
               </div>
               <div class="pass">
                  <a href="#" id="reset-password">Forgot Password?</a>
               </div>
               <div class="field">
                  <input type="submit" value="LOGIN" id="btnLogin">
               </div>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <ul>
                  <li><i class="fab fa-facebook-f" id="facebook" type="submit"></i></li>
                  <li><i class="fab fa-twitter" id="twitter" type="submit"></i></li>
                  <li><i class="fab fa-github" id="github" type="submit"></i></li>
                  <li><i class="fab fa-google" id="google" type="submit"></i></li>
               </ul>
            </div>
           
            <div class="signup">
               Don't have account?
               <a href="./Registration.html">Signup Now</a>
            </div>
         </div>
         <div class="content" id="forget-page" hidden>
            <header>Reset Password</header>
            <form action="#">
               <div class="field space">
                  <span class="fa fa-envelope"></span>
                  <input type="text" id="txtEmail_forget" name="email" required placeholder="Email">
               </div>
               <div class="field space">
                  <input type="submit" value="Send Mail" id="forgot-password">
               </div>
            </form>
            <div class="signup space">
               <a href="#" id="back-to-login"><i class="fas fa-solid fa-angle-left"></i> Back</a>
            </div>
         </div>
         <div class="content" id="reset-page" hidden>
            <header id="reset-message"></header>
            <div class="signup space">
               <a href="#" id="back-to-login-again"><i class="fas fa-solid fa-angle-left"></i> Back to Login</a>
            </div>
         </div>
      </div>
      <script>
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });
      </script>
      <script src="../../public/javascript/Login Form.js"></script>
      <script src="../../helpers/enVariables.js"></script>
      <script src="../../helpers/redirect.js"></script>
   </body>
</html>
